#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  items.delete_if { |item| item[:publish] == false }
  create_tag_pages
end

# Compile
compile '/assets/css/*' do
  if item[:flag] == 'combined'
    filter :haml
    filter :yui_compress
  elsif item[:extension] == 'less'
    filter :erb
    filter :less
  elsif item[:extension] == 'css.haml'
    filter :haml
  end
end

compile '/assets/js/*' do
  # don’t filter or layout
end

compile '/sitemap' do
  filter :erb
end

compile '/feed' do
  filter :erb
end

compile '/blog/*' do
  filter :kramdown
  filter :dot
  filter :code_class_fix
  filter :colorize_syntax, :default_colorizer => :pygmentize
  layout 'blog'
  layout 'default'
end

compile '/tags/*' do
  filter :haml
  layout 'default'
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last

    if ext == 'erb'
      filter :erb
    elsif ext == 'haml'
      filter :haml
    end
    layout 'default'
  end
end

# Route
route '/assets/css/*' do
  if item[:flag] == 'combined'
    profile = item.identifier.split('/')[-2]
    "/assets/css/#{profile}.css"
  else
    nil
  end
end

route '/sitemap' do
  item.identifier.chop + '.xml'
end

route '/feed' do
  item.identifier.chop + '.xml'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

# Layout
layout '/tag_page/', :haml
layout '*', :erb
