@import "../define/import";

pre > code {
  display: block;
  overflow-x: auto;
  @p: 10px;
  padding: @p;
  white-space: pre;
  word-wrap: normal;
  .border-radius(10px);

  &[lang] {
    @h: 10px;
    padding-top: 10px + @h;
    ::before {
      content: attr(lang);
      display: block;
      float: right;
      color: white;
      background: #42AEC2;
      font-size: @h;
      height: @h;
      line-height: @h;
      padding: 2px;
      .border-radius(3px);
      margin-top: -@h - @p / 2;
      margin-right: -@p / 2;
    }
  }

  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  }
}

p code,
li code {
  display: inline-block;
  background: #FFF;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #DDD;
  .border-radius(0.4em);
  padding: 0 .3em;
  margin: 0 .3em;
}
