%h1
  = "'#{tag.capitalize}' Articles"

.tag-page
  %ul
    - items_with_tag(tag).each do |item|
      - url= url_for_item(item)
      %li
        %a(href="#{url}" title="#{item[:title]}")= item[:title]
