@import "../define/import";

.publish-time-container,
.tags-container {
  display: inline-block;
  line-height: 16px;
  height: 16px;
}
.publish-time,
.tags .tag {
  font-size: @font-size-tag;
  color: @tag-green;
}

.content {
  font-size: @font-size-content;
}

.tags {
  display: inline;

  li::after {
    content: ',';
    margin-left: 0;
  }
}

.article-nav {
  .display-box;
  .prev {
    .box-flex(1);
    text-align: left;
    &::before {
      content: '\2039\00a0';
    }
  }
  .next {
    .box-flex(1);
    text-align: right;
    &::after {
      content: '\00a0\203A';
    }
  }
}

.footnotes {
  border-top: 1px solid gray;
}
