<acticle>
  <header>
    <h1 class="title"><%= item[:title] %></h1>
    <div class="publish-time-container">
      <span class="icon-publish-time">&nbsp;</span>
      <span class="publish-time"><%= attribute_to_time(item[:created_at]) %></span>
    </div>
  </header>
  <div id="content"><%= yield %></div>
  <footer>
    <div class="tags-container">
      <span class="icon-tags">&nbsp;</span>
      <ul class="tags nav-list nav-list-with-sep">
        <% item[:tags].each do |tag| %>
        <li><a class="tag" href=""><%= tag %></a></li>
        <% end %>
      </ul>
    </div>
  </footer>
</acticle>
