%footer#footer
  .copyright
    timgreen &copy; 2012 -
    = Time.now.strftime('%Y')
  .powered-by
    powered by
    %a(href="http://nanoc.ws/") Nanoc
    &
    %a(href="http://www.openshift.com") OPENSHIFT
