<header id="header">
  <div class="banner">
    <a href="<%= urlForItem('/') %>" class="logo">
      <span class="timgreen">Tim Green</span>
      <span class="amp">&amp;</span>
      <span class="it">IT</span>
    </a>
    <span class="site-description">
      life with IT
    </span>
    <div class="rest">
      <ul class="social-links nav-list">
        <li><a class="icon-social-twitter" href="https://twitter.com/iamtimgreen" title="Twitter">Twitter</a></li>
        <li><a class="icon-social-feed" href="<%= urlForItem('/feed') %>" title="RSS Feed">Feed</a></li>
      </ul>
    </div>
  </div>
  <nav id="nav">
    <ul class="nav-list">
      <li><a href="<%= urlForItem('/blog') %>">Blog</a></li><%#
    %><li><a href="<%= urlForItem('/about') %>">About</a></li>
    </ul>
  </nav>
</header>
